<template>
  <div class="categories">
    <bread parent="商品管理" children="商品分类"></bread>
    <el-button type="primary" style="margin:15px 0;" @click.native="addcat">添加分类</el-button>
    <el-table
      :data="tableData.result"
      style="width: 100%;"
      height="400"
      row-key="cat_id"
      :tree-props="{children: 'children', hasChildren: 'hasChildren'}"
    >
      <el-table-column label="分类名称" prop="cat_name"></el-table-column>
      <el-table-column label="级别">
        <template slot-scope="scope">
          <span v-if="scope.row.cat_level==0">一级</span>
          <span v-if="scope.row.cat_level==1">二级</span>
          <span v-if="scope.row.cat_level==2">三级</span>
        </template>
      </el-table-column>
      <el-table-column label="是否有效">
        <template slot-scope="scope">
          <span>{{scope.row.cat_deleted?'无效':'有效'}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" size="small" circle @click="editcat(scope)"></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            size="small"
            circle
            @click="removecat(scope)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="page.pagenum"
      :page-sizes="[5,10,15,20]"
      :page-size="page.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total"
    ></el-pagination>
    <el-dialog title="编辑分类" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="form">
        <el-form-item label="分类名称" label-width="120px" prop="cat_name">
          <el-input v-model="form.cat_name" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="rightGoods">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="添加分类" :visible.sync="increaseCatVisible">
      <el-form :model="catform" ref="catform">
        <el-form-item label="分类名称" label-width="120px" prop="cat_name">
          <el-input v-model="catform.cat_name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="分类层级" label-width="120px">
          <el-cascader
            v-model="value"
            :options="options"
            :props="props"
            @change="handleChange"
            clearable
            change-on-select
            expand-trigger="hover"
            ref="cascaderHandle"
          ></el-cascader>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="increaseCatVisible = false">取 消</el-button>
        <el-button type="primary" @click="addcatlist">确 定</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script>
import bread from "../../components/BreadCrumb";
import {
  getcategories,
  goodscat,
  deletecat,
  getcattwo,
  increaseCat
} from "@/http/apis";
export default {
  components: { bread },
  data() {
    return {
      tableData: [],
      options: [],
      value: [],
      dialogFormVisible: false,
      increaseCatVisible: false,
      page: {
        query: "",
        pagesize: 5,
        pagenum: 1
      },
      form: {
        cat_name: "",
        cat_id: ""
      },
      catform: {
        cat_name: "",
        cat_pid: "",
        cat_level: ""
      },
      rules: {
        cat_name: [
          { required: true, message: "分类名称不能为空", trigger: "blur" }
        ]
      },
      props: {
        expandTrigger: "hover",
        value: "cat_id",
        label: "cat_name",
        children: "children"
      }
    };
  },
  methods: {
    async getcategories(params) {
      const res = await getcategories(this.page);
      console.log(res)
      this.tableData = res;
     
    },
    handleSizeChange(val) {
      this.page.pagesize = val;
      this.getcategories();
    },
    handleCurrentChange(val) {
      this.page.pagenum = val;
      this.getcategories();
    },
    //编辑按钮
    editcat(obj) {
      this.dialogFormVisible = true;
      this.form = Object.assign(this.form, {
        cat_name: obj.row.cat_name,
        cat_id: obj.row.cat_id
      });
    },
    //获取商品分类参数
    async goodscat(obj) {
      await goodscat(obj.cat_id, obj.cat_name);
      this.getcategories();
      this.getcattwo();
    },
    //确定按钮
    rightGoods() {
      this.dialogFormVisible = false;
      this.$refs.form.validate(async valid => {
        if (valid) {
          await this.goodscat(this.form);
          this.$refs.form.resetFields();
        } else {
          return false;
        }
      });
    },
    //删除分类参数
    async deletecat(id) {
      await deletecat(id);
      this.getcategories();
    },
    removecat(obj) {
      this.$confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.deletecat(obj.row.cat_id);

          this.$message({
            type: "success",
            message: "删除成功!"
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除"
          });
        });
    },
    //添加分类参数(二级参数菜单)
    async getcattwo() {
      const res = await getcattwo();
      this.options = res;
    },
    //点击添加分类参数
    addcat() {
      this.increaseCatVisible = true;
      this.value=[]
    },
    //确定添加分类参数按钮
    async addcatlist() {
      this.catform = Object.assign(this.catform, {
        cat_level: this.value.length,
        cat_pid: this.value.length-1
      });
       this.page = Object.assign(this.page, {
            query: "",
            pagenum: 1,
            pagesize: 10
          });
      await increaseCat(this.catform);
      this.increaseCatVisible = false;
      this.getcategories()
    },
    handleChange(value) {
      if (value.length > 0) {
        this.$refs.cascaderHandle.dropDownVisible = false;
      }
    }
  },
  created() {
    this.getcategories();
    this.getcattwo();
  }
};
</script>
<style lang="scss">
.categories {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  .el-breadcrumb {
    padding: 15px;
  }
}
</style>