<template>
  <div class="goodsadd">
    <bread parent="商品管理" children="商品列表"></bread>
    <el-alert style="margin-bottom:15px" title="添加商品信息" type="info" center :closable="false"></el-alert>
    <el-steps :active="+active" finish-status="success" align-center>
      <el-step :title="item.name" v-for="item in steps" :key="item.name"></el-step>
    </el-steps>
    <el-tabs tab-position="left" style="height: 100%;" v-model="active">
      <el-tab-pane
        :name="''+(index+1)"
        v-for="(item,index) in steps"
        :key="item.name"
        :label="item.name"
      >
        <template v-if="item.name==='基本信息'">
          <el-form
            class="form-width-460"
            style="margin-top: 15px;"
            ref="goodsForm"
            :model="goodsForm"
          >
            <el-form-item
              label="商品名称"
              prop="goods_name"
              :rules="[
                        {required:true,trigger:'blur',message:'商品名称不能为空'}
                    ]"
            >
              <el-input v-model="goodsForm.goods_name"></el-input>
            </el-form-item>
            <el-form-item
              label="商品价格"
              prop="goods_price"
              :rules="[
                        {required:true,trigger:'blur',message:'商品价格不能为空'}
                    ]"
            >
              <el-input v-model="goodsForm.goods_price"></el-input>
            </el-form-item>
            <el-form-item label="商品重量" prop="goods_weight">
              <el-input v-model="goodsForm.goods_weight"></el-input>
            </el-form-item>
            <el-form-item label="商品数量" prop="goods_number">
              <el-input v-model="goodsForm.goods_number"></el-input>
            </el-form-item>
            <el-form-item label="商品分类">
              <el-cascader
                :disabled="id?true:false"
                v-model="goodsForm.goods_cat"
                :options="categoriesList"
                :props="{ expandTrigger: 'hover', value:'cat_id', label:'cat_name'}"
              ></el-cascader>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name==='商品参数'">
          <el-form class="form-width-460" label-position="top">
            <el-form-item
              :label="item.attr_name"
              v-for="(item,index) in goodsForm.attrs"
              :key="index"
            >
              <el-checkbox
                :label="items"
                border
                size="medium"
                v-for="(items,indexs) in attr_vals(item.attr_vals) "
                :key="indexs"
                checked
                @click.native="handelAttrs(index,indexs)"
              ></el-checkbox>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name == '商品属性'">
          <el-form label-position="top" label-width="80px">
            <el-form-item
              v-for="(item,index) in goodsForm._attrs"
              :key="index"
              :label="item.attr_name"
            >
              <el-input v-model="item.attr_vals"></el-input>
            </el-form-item>
          </el-form>
        </template>
        <template v-if="item.name == '商品图片'">
          <el-upload
            class="upload-demo"
            :action="url"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :on-success="handleSuccess"
            :file-list="fileList"
            list-type="picture"
            :headers="token"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip"></div>
          </el-upload>
        </template>
        <template v-if="item.name=='商品内容'">
          <el-tab-pane style="display:block;">
            <el-button @click="addGoods">添加商品</el-button>
            <quill-editor v-model="goodsForm.goods_introduce"></quill-editor>
            <!--添加商品按钮-->
          </el-tab-pane>
        </template>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import bread from "../../components/BreadCrumb";
import store from "../../store/index";
import {
  getCategoriesList,
  getGoodsAttrs,
  addGoods,
  addeditGoods,
  getDoodsdrtalis
} from "@/http/apis";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";

export default {
  components: {
    bread,
    quillEditor
  },
  props: {
    id: {
      required: true
    }
  },
  data() {
    return {
      active: "1",
      list: [],
      fileList: [],
      file: {},
      token: {
        Authorization: this.$store.state.token
      },
      url: "https://pc.raz-kid.cn/api/private/v1/upload",
      categoriesList: [], //商品分类列表
      catParamsList: [], //商品参数
      catParamsOnly: [], //商品属性
      value: [],
      val: true,
      goodsForm: {
        goods_name: "",
        goods_price: "",
        goods_weight: "",
        goods_number: "",
        goods_cat: [],
        goods_introduce: "",
        pics: [],
        attrs: [],
        _attrs: []
      },
      steps: [
        {
          name: "基本信息"
        },
        {
          name: "商品参数"
        },
        {
          name: "商品属性"
        },
        {
          name: "商品图片"
        },
        {
          name: "商品内容"
        }
      ]
    };
  },
  methods: {
    attr_vals(val) {
      return val.split(",");
    },
    //删除商品参数某一个
    handelAttrs(index, indexs) {
      console.log(index, indexs);
      let attr_vals = this.goodsForm.attrs[index].attr_vals.split(","); //split方法不会改变原数组，所以要返回给一个值
      attr_vals.splice(indexs, 1);
      this.goodsForm.attrs[index].attr_vals = attr_vals.join();
    },
    //获取商品分类列表
    async getCategoriesList() {
      const arr = await getCategoriesList();
      this.categoriesList = arr;
    },
    //获取商品参数
    async getGoodsAttrs(sel) {
      return await getGoodsAttrs(
        this.goodsForm.goods_cat[this.goodsForm.goods_cat.length - 1],
        sel
      );
    },
    //获取根据id查询商品
    async getDoodsdrtalis() {
      const res = await getDoodsdrtalis(this.id);
      console.log(res);
      const {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        attrs,
        goods_id
      } = res;
      pics.forEach(item=>{
         this.fileList.push({
        name: item.pics_big,
        url: item.pics_big
      });
      })
      const obj = Object.assign(this.goodsForm, {
        goods_name,
        goods_price,
        goods_number,
        goods_weight,
        goods_introduce,
        pics,
        attrs,
        goods_id,
        goods_cat: res.goods_cat.split(",")
      });
      this.goodsForm = obj;
      return res;
    },

    //获取添加商品
    async addGoods() {
      // this.goodsForm.goods_cat = this.goodsForm.goods_cat.join(",");
      const data = Object.assign(this.goodsForm, {
        goods_cat: this.goodsForm.goods_cat.join(",")
      });
      if (this.id) {
        await addeditGoods(data); //编辑
      } else {
        await addGoods(data); //添加
      }
      this.$router.push({
        name: "goods"
      });

      this.getCategoriesList();
    },
    //删除图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
      const index = this.goodsForm.pics.findIndex(item => {
        return item.pic === file.response.dats.tmp_path;
      });
      this.goodsForm.pics.splice(index, 1);
    },
    handlePreview(file) {
      console.log(file);
    },
    handleSuccess(res) {
      const {
        data: { tmp_path }
      } = res;
      this.goodsForm.pics.push({
        pic: tmp_path
      });
    }
  },
  async created() {
    await this.getCategoriesList();
    if (this.id) {
      this.getDoodsdrtalis();
    }
  },
  watch: {
    async active(val) {
      console.log(val);
      if (val != 1) {
        if (this.goodsForm.goods_cat.length <= 2) {
          this.$message({
            type: "error",
            message: "请选择三级分类"
          });
        } else {
          if (val == 2) {
            const res = await this.getGoodsAttrs("many");
            this.goodsForm.attrs = res;
          } else {
            if (val == 3) {
              const res = await this.getGoodsAttrs("only");
              this.goodsForm._attrs = res;
            } else {
              // if (val == 4) {
              //   if (this.id) {
              //     this.goodsForm.pics.map(item => {
              //       this.fileList.push({
              //         name: item.pics_big,
              //         url: item.pics_big
              //       });
              //     });
              //   }
              // }
            }
          }
        }
      }
    }
  }
};
</script>
<style lang="scss">
.goodsadd {
  background: #fff;
  .el-breadcrumb {
    padding: 15px;
  }
  .form-width-460 {
    width: 460px;
  }
}
</style>