<template>
  <div class="goods">
    <bread parent="商品管理" children="商品列表"></bread>
    <el-form inline>
      <el-form-item>
        <el-input type="text" v-model="keywords" @keyup.enter.native="search" placeholder="请输入内容">
          <el-button slot="append" icon="el-icon-search" @click.native="search"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="success" plain @click="handelGoods">添加商品</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="obj.goods" style="width: 100%" border height="calc(100vh - 320px)">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="goods_name" label="商品名称" width="530"></el-table-column>
      <el-table-column prop="goods_price" label="商品价格" width="100"></el-table-column>
      <el-table-column prop="goods_weight" label="商品重量" width="80"></el-table-column>
      <el-table-column prop="add_time" label="创建时间" width="120">
        <template slot-scope="scope">{{scope.row.add_time|dealdata}}</template>
      </el-table-column>
      <el-table-column label="编辑" width="180">
        <template slot-scope="scope">
          <el-button type="primary" icon="el-icon-edit" circle @click.native="editGoods(scope.row.goods_id)"></el-button>
          <el-button type="danger" icon="el-icon-delete" circle @click="removeGoods(scope.row.goods_id)"></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="ruleForm.pagenum"
      :page-sizes="[2,4,6,8]"
      :page-size="ruleForm.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
    ></el-pagination>
  </div>
</template>
<style lang="scss">
.goods {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  .el-breadcrumb {
    padding: 15px;
  }
  .el-form {
    margin-top: 15px;
  }
  .el-pagination {
    margin-top: 15px;
  }
}
</style>
<script>
import bread from "../../components/BreadCrumb";
import { getgoodsList,getRemove,addeditGoods } from "@/http/apis";
export default {
  components: {
    bread
  },
  data() {
    return {
      goodsVisible:false,
      keywords: "",
      obj: [],
      ruleForm: {
        query: "",
        pagenum: 1,
        pagesize: 10
      },
      editGoodsList:{
        goods_name:"",
        goods_price:"",
        goods_number:'',
        goods_weight:'',
        goods_id:'',
        goods_cat:['1,3,6'],
        goods_introduce: "",
        pics: [],
        attrs: [],
      }
    };
  },
  methods: {
    //添加商品跳转页面
    handelGoods() {
      this.$router.push({
        name: "goodsadd"
      });
    },
    handleSizeChange(val) {
      this.ruleForm.pagesize = val;
      this.getgoodsList();
    },
    handleCurrentChange(val) {
      this.ruleForm.pagenum = val;
      this.getgoodsList();
    },
    search() {
      this.ruleForm.query = this.keywords;
      this.ruleForm.pagenum = 1;
      this.getgoodsList();
    },
      //获取商品列表
    async getgoodsList() {
      const res = await getgoodsList(this.ruleForm);
      console.log(res);
      this.obj = res;
    },
    //获取删除商品
    async getRemove(id){
       await getRemove(id)
    },
    //获取编辑商品
    async addeditGoods(){
      await addeditGoods(this.editGoodsList)
      this.goodsVisible=false
    },
    //删除商品
     async removeGoods(id) {
      try {
        await this.$confirm("是否永久删除该商品", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.getRemove(id);
      } catch {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    editGoods(id){
      // console.log(obj)
      // this.goodsVisible=true
      // const {goods_name,goods_price, goods_number, goods_weight,goods_id,goods_introduce,pics,attrs} = obj
      // this.editGoodsList=Object.assign(this.editGoodsList,{
      //   goods_name,
      //   goods_price,
      //   goods_number,
      //   goods_weight,
      //   id:goods_id,
      //   goods_introduce,
      //   pics,
      //   attrs
      // })
       this.$router.push({
        name: "goodsedit",
        params:{
          id
        },
      });
    }
  },
  created() {
    this.getgoodsList();

  }
};
</script>