<template>
  <div class="params">
    <bread parent="商品管理" children="商品列表"></bread>
    <el-alert title="注意:只允许为第三级分类设置参数" type="warning" show-icon></el-alert>
    <el-form>
      <el-form-item label="商品分类">
        <el-cascader
          :show-all-levels="false"
          v-model="value"
          :options="categoriesList"
          :props="{ expandTrigger: 'hover', value:'cat_id', label:'cat_name'}"
          @change="handleChange"
        ></el-cascader>
      </el-form-item>
    </el-form>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="动态参数" name="first">
        <el-button :disabled="many.length<=0" type="primary" @click="setD">设置动态参数</el-button>
        <el-table :data="many" style="width: 100%">
          <el-table-column type="expand">
            <template slot-scope="scope">
              <el-tag
                :key="tag"
                v-for="tag in attr_vals(scope.row.attr_vals)"
                closable
                :disable-transitions="false"
                @close="updateGoodsCatAttrs(scope.row,tag)"
                v-if="tag!=''"
              >{{tag}}</el-tag>
              <el-input
                class="input-new-tag"
                v-if="inputVisible[scope.$index]"
                v-model="inputValue[scope.$index]"
                :ref="'saveTagInput'+scope.$index"
                size="small"
                @keyup.enter.native="handleInputConfirm(scope)"
              ></el-input>
              <el-button
                v-else
                class="button-new-tag"
                size="small"
                @click="showInput(scope.$index)"
              >+ New Tag</el-button>
            </template>
          </el-table-column>
          <el-table-column label="#" type="index"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button type="primary" icon="el-icon-edit" circle></el-button>
              <el-button
                type="danger"
                icon="el-icon-delete"
                circle
                @click="deleteCatAttrs(scope.row)"
              ></el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-dialog title="设置动态角色" :visible.sync="setDVisible" width="600px">
          <el-form :model="CatForm" ref="CatForm" label-width="120px">
            <el-form-item label="参数名称" prop="attr_name">
              <el-input v-model="CatForm.attr_name"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button>取 消</el-button>
            <el-button type="primary" @click="setAttr">确 定</el-button>
          </span>
        </el-dialog>
      </el-tab-pane>
      <el-tab-pane label="静态参数" name="second">
        <el-button :disabled="only.length<=0" type="primary" @click="setJ">设置静态参数</el-button>
        <el-table :data="only" style="width: 100%">
          <el-table-column label="#" type="index"></el-table-column>
          <el-table-column label="属性名称" prop="attr_name"></el-table-column>
          <el-table-column label="属性值" prop="attr_vals"></el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                type="primary"
                icon="el-icon-edit"
                circle
                @click="handleCatDialog(scope.row)"
              ></el-button>
              <el-button type="danger" icon="el-icon-delete" circle @click="removeCat(scope.row)"></el-button>
            </template>
          </el-table-column>
        </el-table>
        <el-dialog title="设置静态角色" :visible.sync="setJVisible" width="600px">
          <el-form :model="CatForm" ref="CatForm" label-width="120px">
            <el-form-item label="参数名称" prop="attr_name">
              <el-input v-model="CatForm.attr_name"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button>取 消</el-button>
            <el-button type="primary" @click="setAttrJ">确 定</el-button>
          </span>
        </el-dialog>
        <el-dialog title="编辑分类" :visible.sync="catsVisible" width="600px">
          <el-form :model="CatForm" ref="CatForm" label-width="120px">
            <el-form-item label="属性名称" prop="attr_name">
              <el-input v-model="CatForm.attr_name"></el-input>
            </el-form-item>
            <el-form-item label="属性值" prop="attr_vals">
              <el-input v-model="CatForm.attr_vals"></el-input>
            </el-form-item>
          </el-form>
          <span slot="footer" class="dialog-footer">
            <el-button>取 消</el-button>
            <el-button type="primary" @click="handelCatAttrs">确 定</el-button>
          </span>
        </el-dialog>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script>
import Vue from "vue";
import bread from "../../components/BreadCrumb";
import {
  getCategoriesList,
  getGoodsCatAttrs,
  updateGoodsCatAttrs,
  deleteCatAttr,
  setAttr
} from "@/http/apis";
export default {
  components: { bread },
  data() {
    return {
      catsVisible: false,
      setDVisible: false,
      setJVisible: false,
      CatForm: {
        attr_name: "",
        attr_vals: "",
        attr_id: "",
        cat_id: "",
        attr_sel: ""
      },
      only: [],
      many: [],
      value: [],
      inputVisible: [],
      inputValue: [],
      activeName: "first",
      categoriesList: [],
      manylist: [],
      goodsForm: {
        goods_name: "",
        goods_price: "",
        goods_weight: "",
        goods_number: "",
        goods_cat: [],
        goods_introduce: "",
        pics: [],
        attrs: [],
        attr_id: ""
      }
    };
  },
  methods: {
    attr_vals(val) {
      return val.split(",");
    },
    handleClose(tag) {
      this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
    },

    showInput(index) {
      // this.inputVisible[index] = true;
      // this.$forceUpdate()
      this.$set(this.inputVisible, index, true);
      this.$nextTick(_ => {
        this.$refs["saveTagInput" + index].$refs.input.focus();
      });
    },
    //enter
    async handleInputConfirm(obj) {
      let val = this.inputValue[obj.$index];
      if (!val) {
        this.$message({
          message: "请输入属性"
        });
        return;
      }
      const { attr_name, attr_sel, attr_vals } = obj.row;
      let arr = attr_vals.split(",");
      arr.push(val);

      await updateGoodsCatAttrs(this.value[2], obj.row.attr_id, {
        attr_name,
        attr_sel,
        attr_vals: arr.join()
      });
      obj.row = Object.assign(obj.row, {
        attr_vals: arr.join()
      });
      this.$set(this.inputVisible, obj.$index, "");
      this.$set(this.inputValue, obj.$index, "");
      //          await updateGoodsCatAttrs(this.value[2],obj.attr_id,{
      //   attr_name,
      //   attr_sel,
      //   attr_vals:arr.join()
      // })
      // let inputValue = this.inputValue;
      // if (inputValue) {
      //   this.dynamicTags.push(inputValue);
      // }
      // this.inputVisible = false;
      // this.$set(this.inputVisible,index,false)
      // this.inputValue = '';
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    //获取商品分类列表
    async getCategoriesList() {
      const arr = await getCategoriesList();
      this.categoriesList = arr;
    },
    //获取动态/静态参数
    async getGoodsCatAttrs(id, sel) {
      const res = await getGoodsCatAttrs(id, sel);
      if (sel == "only") {
        this.only = res;
        return;
      }

      this.many = res;
      this.many.forEach(item => {
        item.attr_vals.split(",");
      });
    },
    handleChange(val) {
      if (val.length < 3) {
        this.only = [];
        this.many = [];
        return;
      }
      this.getGoodsCatAttrs(val[2], "many");
      this.getGoodsCatAttrs(val[2], "only");
    },
    //编辑删除分类参数
    async updateGoodsCatAttrs(obj, tag) {
      const { attr_name, attr_sel, attr_vals } = obj;
      let arr = attr_vals.split(",");
      arr.splice(arr.indexOf(tag, 1));
      await updateGoodsCatAttrs(this.value[2], obj.attr_id, {
        attr_name,
        attr_sel,
        attr_vals: arr.join()
      });
      obj = Object.assign(obj, {
        attr_vals: arr.join()
      });
    },
    //获取删除
    async deleteCatAttr(id, attr_id, type) {
      await deleteCatAttr(id, attr_id);
      if (type === "many") {
        this.getGoodsCatAttrs(this.value[2], "many");
      }
      if (type === "only") {
        this.getGoodsCatAttrs(this.value[2], "only");
      }
    },
    //点击删除
    async deleteCatAttrs(obj) {
      try {
        await this.$confirm("是否永久删除该用户", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteCatAttr(obj.cat_id, obj.attr_id, "many");
      } catch {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
      // this.$forceUpdate();
    },
    async removeCat(obj) {
      try {
        await this.$confirm("是否永久删除该用户", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteCatAttr(obj.cat_id, obj.attr_id, "only");
      } catch {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    //编辑静态参数
    handleCatDialog(obj) {
      const { attr_name, attr_vals, cat_id, attr_id, attr_sel } = obj;
      this.CatForm = Object.assign(this.CatForm, {
        attr_name,
        attr_vals,
        attr_id,
        cat_id,
        attr_sel
      });
      this.catsVisible = true;
    },
    async handelCatAttrs() {
      await updateGoodsCatAttrs(
        this.CatForm.cat_id,
        this.CatForm.attr_id,
        this.CatForm
      );
      this.getGoodsCatAttrs(this.value[2], "only");
      this.catsVisible = false;
    },
    setD() {
      this.setDVisible = true;
    },
    setJ() {
      this.setJVisible = true;
    },
    //设置动态参数
    async setAttr(id, data) {
      this.CatForm = Object.assign(this.CatForm, {
        attr_sel: "many"
      });
      await setAttr(this.value[2], this.CatForm);
      this.getGoodsCatAttrs(this.value[2], "many");
      this.setDVisible = false;
    },
    //设置静态参数
    async setAttrJ(id, data) {
      this.CatForm = Object.assign(this.CatForm, {
        attr_sel: "only"
      });
      await setAttr(this.value[2], this.CatForm);
      this.getGoodsCatAttrs(this.value[2], "only");
      this.setDVisible = false;
    }
  },
  created() {
    this.getCategoriesList();
    //   this.getAttrsMany()
  }
};
</script>
<style lang="scss">
.params {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  .el-breadcrumb {
    padding: 15px;
  }
  .input-new-tag {
    width: 90px;
    margin-left: 10px;
    vertical-align: bottom;
  }
}
</style>