<template>
    
    <div class="list">
          <el-breadcrumb separator="/" style="margin-bottom:15px">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
      <el-table
    :data="editRoleForm"
    border
    style="width: 100%"
     height="calc(100vh - 320px)">
       <el-table-column
      label="#"
      type="index"
      width="80">
    </el-table-column>
    <el-table-column
      prop="authName"
      label="权限名称"
      width="180">
    </el-table-column>
    <el-table-column
      prop="path"
      label="路径"
      width="180">
    </el-table-column>
    <el-table-column
      label="层级">
      <template slot-scope="scope">
        {{scope.row.level|levelFilter}}
      </template>
    </el-table-column>
  </el-table>
    </div>
</template>
<style lang="scss">
.list {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}
</style>
<script>
import {geteditRoleList} from '@/http/apis'
export default {
     data() {
      return {
         editRoleForm:[]
      }
     },
     methods:{
      async geteditRoleList(){
        const res=await geteditRoleList()
        console.log(res.level)
        this.editRoleForm=res
      }
     },
     created(){
       this.geteditRoleList()
     }
}
</script>