<template>
  <div class="roles">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>

    <el-button type="primary" @click="handelRolesDialog('添加角色')" style="margin-top:10px">添加角色</el-button>

    <el-table :data="roleData" style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="scope">
          <el-row v-for="(item,index) in scope.row.children" :key="index">
            <el-col :span="4">
              <!-- $index 数组的第几项  index 哪一个children -->
              <el-tag
                closable
                @close="deleteRoles(scope.row.id,item.id,scope.$index,index)"
              >{{item.authName}}</el-tag>
              <i class="el-icon-arrow-right"></i>
            </el-col>
            <el-col :span="20">
              <el-row v-for="(_item,_index) in item.children" :key="_index">
                <el-col :span="6">
                  <el-tag
                    closable
                    type="success"
                    @close="deleteRoles(scope.row.id,_item.id,scope.$index,index,_index)"
                  >{{_item.authName}}</el-tag>
                  <i class="el-icon-arrow-right"></i>
                </el-col>
                <el-col :span="18">
                  <el-tag
                    closable
                    type="warning"
                    v-for="(__item,__index) in _item.children"
                    :key="__index"
                    @close="deleteRoles(scope.row.id,__item.id,scope.$index,index,_index,__index)"
                  >{{__item.authName}}</el-tag>
                </el-col>
              </el-row>
            </el-col>
          </el-row>
        </template>
      </el-table-column>
      <el-table-column label="#" type="index"></el-table-column>
      <el-table-column label="商品名称" prop="roleName"></el-table-column>
      <el-table-column label="描述" prop="roleDesc"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            @click="handelRolesDialog('编辑角色', scope.row)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            @click.native="emitlistRole(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click.native="removeDelete(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog title="添加角色" :visible.sync="rolesVisible" width="600px">
      <el-form :model="roleForm" ref="roleForm" label-width="120px" :rules="rolesFormPules">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="roleForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="roleForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="rolesVisible = false">取 消</el-button>
        <el-button type="primary" @click.native="handelRoles">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑角色" :visible.sync="rolesVisible" width="600px">
      <el-form :model="editForm" ref="editForm" label-width="120px" :rules="rolesFormPules">
        <el-form-item label="角色名称" prop="roleName">
          <el-input v-model="editForm.roleName"></el-input>
        </el-form-item>
        <el-form-item label="角色描述" prop="roleDesc">
          <el-input v-model="editForm.roleDesc"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="editRole">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配权限" :visible.sync="editlistVisible" width="600px">
      <!-- <el-checkbox v-model="checkAll" @change="handleCheckAllChange">全选</el-checkbox> -->

      <el-tree
        :data="getdata"
        ref="tree"
        show-checkbox
        default-expand-all
        :default-checked-keys="keydatas"
        node-key="id"
        highlight-current
        :props="defaultProps"
      ></el-tree>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancellist">取 消</el-button>
        <el-button type="primary" @click="roleAuthorization">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="scss">
.roles {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}
</style>
<script>
import {
  addRoles,
  getRoles,
  deleteRoles,
  editRole,
  removeRoles,
  geteditRole,
  roleAuthorization
} from "@/http/apis";
export default {
  data() {
    return {
      rolesVisible: false,
      editVisible: false,
      editlistVisible: false,
      roleData: [],
      keydatas: [],
      roleForm: {
        roleName: "",
        roleDesc: ""
      },
      editForm: {
        roleName: "",
        roleDesc: "",
        id: ""
      },
      rolesFormPules: {
        roleName: [
          {
            required: true, //*号
            message: "请输入角色名称",
            trigger: "blur"
          },
          {
            min: 3,
            max: 5,
            message: "长度在 3 到 5 个字符",
            trigger: "blur"
          }
        ]
      },
      getdata: [],
      defaultProps: {
        children: "children",
        label: "authName"
      },
      authorizationid: ""
    };
  },
  methods: {
    //获取添加角色
    async addRoles() {
      return await addRoles(this.roleForm);
    },
    //获取添加角色列表
    async getRoles() {
      const roles = await getRoles();
      this.roleData = roles;
    },
    //获取删除角色指定权限
    async deleteRoles(roleId, rightId, index1, index2, index3, index4) {
      await deleteRoles(roleId, rightId);
      if (arguments.length == 4) {
        this.roleData[index1].children.splice(index2, 1);
      } else if (arguments.length == 5) {
        this.roleData[index1].children[index2].children.splice(index3, 1);
      } else {
        this.roleData[index1].children[index2].children[index3].children.splice(
          index4,
          1
        );
      }
    },
    //获取编辑角色和确认按钮
    async editRole() {
      await editRole(this.editForm);
      this.editVisible = false;
      this.getRoles();
    },
    //获取删除
    async removeRoles(id) {
      await removeRoles(id);
      this.getRoles();
    },
    //获取分配权限
    async geteditRole() {
      const res = await geteditRole();
      this.getdata = res;
    },
    //添加角色确定按钮
    handelRoles() {
      this.$refs.roleForm.validate(async valid => {
        if (valid) {
          await this.addRoles();
          this.rolesVisible = false;
          this.$refs.roleForm.resetFields();
          this.getRoles();
        } else {
          return false;
        }
      });
    },
    // 编辑按钮
    emitRole(obj) {
      // this.editRole(obj)
      this.editVisible = true;
      const { roleName, roleDesc, id } = obj;
      this.editForm = Object.assign(this.editForm, {
        roleName,
        roleDesc,
        id
      });
    },
    //取消按钮
    cancel() {
      this.rolesVisible = false;
    },
    //删除角色
    async removeDelete(id) {
      try {
        await this.$confirm("是否永久删除该用户", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.removeRoles(id);
      } catch {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    //分配权限
    emitlistRole(obj) {
      this.editlistVisible = true;
      this.keydatas = [];
      this.authorizationid = obj.id;
      obj.children.map(item => {
        item.children.map(_item => {
          _item.children.map(__item => {
            this.keydatas.push(__item.id);
          });
        });
      });
    },
    //取消按钮分配权限
    cancellist() {
      this.editlistVisible = false;
    },
    //确定获取按钮分配权限
    async roleAuthorization() {
      let keys = this.$refs.tree
        .getCheckedKeys()
        .concat(this.$refs.tree.getHalfCheckedKeys());
      let arr = keys.join(",");
      console.log(arr);
      await roleAuthorization(this.authorizationid, arr);
      this.getRoles();
      this.editlistVisible = false;
    },
    //添加角色和编辑按钮公用一个弹窗
    handelRolesDialog(title, role) {
      this.title = title;
      this.rolesVisible = true;
      this.$nextTick(() => {
        this.$refs.editForm.resetFields();
        role &&
          (this.editForm = Object.assign(this.editForm, {
            roleName: role.roleName,
            roleDesc: role.roleDesc,
            id: role.id
          }));
      });
    }
  },
  created() {
    this.getRoles();
    this.geteditRole();
  }
};
</script>