<template>
  <div class="index">
    <el-container style="height: 100vh; border: 1px solid #eee">
      <el-aside width="auto" style="background-color:rgb(0, 21, 41)">
        <h1 class="logo" v-if="!isCollapse">后台管理</h1>
        <img src="../assets/timg.jpg" alt="" class="logo-img"  v-if="isCollapse">
        <el-menu style="background-color:rgb(0, 21, 41)" router active-text-color="#fff" :default-active="defaultActive" class="el-menu-vertical-demo"  :collapse="isCollapse" >
          <el-submenu :index="''+index" v-for="(item,index) in menus" :key="index">
            <template slot="title" style=" background: rgb(0,17,31);" v-if="item.path==='users'">
              <i class="el-icon-message"></i>
              {{item.authName}}
            </template>
            <template slot="title" style=" background: rgb(0,17,31);" v-if="item.path==='rights'">
              <i class="el-icon-picture-outline"></i>
              {{item.authName}}
            </template>
            <template slot="title" style=" background: rgb(0,17,31);" v-if="item.path==='goods'">
              <i class="el-icon-chat-dot-square"></i>
              {{item.authName}}
            </template>
            <template slot="title" style=" background: rgb(0,17,31);" v-if="item.path==='orders'">
              <i class="el-icon-cpu"></i>
              {{item.authName}}
            </template>
            <template slot="title" style=" background: rgb(0,17,31);" v-if="item.path==='reports'">
              <i class="el-icon-bangzhu"></i>
              {{item.authName}}
            </template>
            <el-menu-item
              v-for="(_item,_index) in item.children"
              :key="_index"
              :index="'/index/'+_item.path"
            >{{_item.authName}}</el-menu-item>
          </el-submenu>
        </el-menu>
      </el-aside>
      <el-container>
        <el-header style="text-align: right; font-size: 12px">
           <el-button type="text" class="el-icon-s-fold" @click="open" style="float:left" margin-top="10px"></el-button>
          <el-dropdown>
            <i class="el-icon-setting" style="margin-right: 15px"></i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="logout">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span>{{$store.state.username}}</span>
        </el-header>
        <el-main>
          <router-view></router-view>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>
<style lang="scss" >
.index {
     .logo{
       text-align: center;
       margin-top: 10px;
     }
     .logo-img{
       width: 40px;
       height: 40px;
       display: block;
       margin: 0 auto;
     }
    .el-menu-vertical-demo{
       width:60px;
      background-color: rgb(0, 21, 41);
  }
   .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
  }
  .el-menu--collapse>.el-submenu>.el-submenu__title [class^=el-icon-]{
    margin-right: 15px;
  }
  .el-header {
    background-color: #fff;
    color: #333;
    line-height: 60px;
  }
  .el-aside {
    color: rgb(153, 153, 153);
  }
  .el-submenu__title{
     color: rgb(153, 153, 153);
  }

  .el-submenu .el-menu {
    background-color: rgb(0, 21, 41);
    .el-submenu__title {
      &:hover {
        background: rgb(0, 17, 31);
      }
    }
  }
  .el-menu {
    border-right-width: 0;
  }
  .el-menu-item.is-active {
    // color: #fff;
    background-color: rgb(0, 21, 41);
  }
  .el-main {
    padding: 15px;
    background: #eee;
  }
}
</style>
<script>
import { getMenus } from "../http/apis";
import { getUsers } from "../http/apis";
import {mapMutations} from 'vuex'
export default {
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄"
    };
    return {
      tableData: Array(20).fill(item),
      menus: [],
      defaultActive:'',
      isCollapse:true
    };
  },
  methods: {
        ...mapMutations(['initState']),
        logout(){
          console.log(1234)
          this.$router.push({
            name:"login"
          })
          this.initState()
        },
        open(){
          this.isCollapse=!this.isCollapse
        }
    //  users() {
    //   return this.http("users", "get", {},this.ruleForm)
    //     .then(res => {
    //        console.log(res)
    //     })
    //     .catch(err => {
    //       console.log(err)
    //     });
    // },
    // async getMenus() {
    //   const res=await this.menus
    // },
  },
  async created() {
    const res=await getMenus()
    this.menus=res
  },
  watch:{

      $route:{
        //深度监听
          handler(val){
            this.defaultActive=val.path
          },
          
          immediate:true
      }
  }
};
</script>