<template>
  <div class="login">
    <el-card class="box-card">
      <div slot="header" class="clearfix">
        <h4>欢迎登陆</h4>
      </div>
      <el-form
        :model="ruleForm"
        status-icon
        :rules="rules"
        ref="ruleForm"
        class="demo-ruleForm"
        size="medium"
      >
        <el-form-item prop="username">
          <el-input type="test" v-model="ruleForm.username" autocomplete="off" placeholder="请输入用户名">
            <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item prop="paswords">
          <el-input
            type="password"
            v-model="ruleForm.password"
            autocomplete="off"
            placeholder="请输入密码"
          >
            <el-button slot="prepend" icon="el-icon-lock"></el-button>
          </el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" class="w-100" @click="submitForm('ruleForm')">登录</el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<style lang="scss" scoped>
.login {
  width: 100vw;
  height: 100vh;
  background: url(../assets/a.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .box-card {
    width: 300px;
    margin-right: 150px;
    h4 {
      font-size: 14px;
      font-weight: 700;
    }
    .text {
      font-size: 14px;
    }

    .item {
      margin-bottom: 18px;
    }

    .clearfix:before,
    .clearfix:after {
      display: table;
      content: "";
    }
    .clearfix:after {
      clear: both;
    }
    .el-form-item__content {
      margin-left: 0 !important;
    }
  }
}
</style>
<script>
export default {
  data() {
    var validateUsername = (rule, value, callback) => {
      if (value === "") {
        return callback(new Error("请输入用户名"));
      } else {
        callback();
      }
    };
    var validatePassword = (rule, value, callback) => {
      if (value === "") {
        callback(new Error("请输入密码"));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: "",
        password: ""
      },
      rules: {
        username: [{ validator: validateUsername, trigger: "blur" }],
        password: [{ validator: validatePassword, trigger: "blur" }]
      }
    };
  },
  methods: {
    submitForm(formName) {
      this.$refs[formName].validate(async valid => {
        if (valid) {
          try {
            const res = await this.login();
            const { token,username}=res.data
            this.$store.commit('setToken',token)
            this.$store.commit('setUsername',username)
            this.$router.push({
              name: "index"
            });
          } catch (err) {
            // this.$message({
            //   msg:err
            // })
         
          }
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    login() {
      return this.http("login", "post", this.ruleForm)
        .then(res => {
          console.log(1234);
          console.log(res);
          this.$message({
            message: res.meta.msg,
            type: "success"
          });
          return res
        })
        .catch(err => {});
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    }
  }
};
</script>