<template>
  <div class="orders">
    <bread parent="订单管理" children="订单列表"></bread>
    <el-table class="list" :data="ordersData.goods" style="width: 100%" border >
      <el-table-column type="index" label="#"></el-table-column>
      <el-table-column prop="order_number" label="订单编号" width="300px"></el-table-column>
      <el-table-column prop="order_price" label="订单价格" width="80px"></el-table-column>
      <el-table-column prop="pay_status" label="是否付款" width="100px">
        <template slot-scope="scope">
           <el-tag v-if="scope.row.order_pay === '0'" type="danger" @click="editOrders(scope.row)">未付款</el-tag>
          <el-tag v-if="scope.row.order_pay === '1'" type="success" @click="editOrders(scope.row)">已付款</el-tag>
        </template>
      </el-table-column>
      <el-table-column prop="is_send" label="是否发货" width="160px"></el-table-column>
      <el-table-column label="下单时间">
        <template slot-scope="scope">{{scope.row.create_time | dealdata}}</template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" icon="el-icon-edit" plain></el-button>
        </template>
      </el-table-column>
    </el-table>
  <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="page.pagenum"
      :page-sizes="[5,10,15,20]"
      :page-size="page.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="ordersData.total"
    ></el-pagination>
    <!-- <el-dialog title="修改订单地址"
      :visible="addFormVisible">
      <el-form
        label-position="right"
        label-width="100px">
        <el-form-item label="省市区/县">
          <el-cascader
            expand-trigger="hover"
            :options="options"
            v-model="selectedOptions"
            @change="handleChange"
            style="width: 500px">
          </el-cascader>
        </el-form-item>
        <el-form-item label="详细地址">
          <el-input auto-complete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="addFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>-->
  </div>
</template>
<script>
import bread from "../components/BreadCrumb";
import { getOrders, editOrders} from "@/http/apis";
export default {
  components: { bread },
  data() {
    return {
      ordersData: [],
      page: {
        query: "",
        pagenum: 1,
        pagesize: 10
      }
    };
  },
  methods: {
    handleSizeChange(val) {
      this.page.pagesize = val;
      this.getOrders()
    },
    handleCurrentChange(val) {
      this.page.pagenum = val;
         this.getOrders()
    },
    async getOrders() {
      const res = await getOrders(this.page);
      console.log(res)
      this.ordersData = res;
    },
    async editOrders(obj){
      console.log(obj)
      await editOrders(obj.order_id,obj)
      if(obj.order_pay === '1'){
        obj.order_pay==='0'
      }else{
         obj.order_pay==='1'
      }
      this.getOrders()
      
    }
  },
  created() {
    this.getOrders();
  }
};
</script>
<style lang="scss">
.orders {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  .el-breadcrumb {
    padding: 15px;
  }
}
</style>