<template>
  <div class="report">
    <bread parent="数据统计" children="数据报表"></bread>
    <!-- <v-chart :options="options" /> -->
    <!-- <line-chart :chartdata="chartdata" :options="options"></line-chart> -->
     <div class="homec-z">
        <highcharts :options="zhexiants" style="height:368px;background: rgba(255, 255, 255, 0.05);"></highcharts>
      </div>
  </div>
</template>
<script>

import bread from "../components/BreadCrumb";
import XChart from "./charts.vue";
import ECharts from "vue-echarts";
import "echarts/lib/chart/line";
import "echarts/lib/component/tooltip";
import { gitLineOptions } from "../http/apis";
// import LineChart from '../components/LineChart'
export default {
  // components: { bread,LineChart},
  components: { bread},
  name: "report",
  data() {
    return {
      options: {responsive:true,maintainAspectRatio:false},
      chartdata:{},
      zhexiants: {
      }
    }
  },

  async created() {  
    const res= await gitLineOptions()
    this.zhexiants=res
    //echarts  
    // const res = await gitLineOptions(); 
    // const _res = JSON.parse(JSON.stringify(res)); //深拷贝
    //   _res.tooltip={
    //      trigger: 'axis',
    //     axisPointer: {
    //         type: 'cross',
    //         label: {
    //             backgroundColor: '#6a7985'
    //         }
    //     }
    //   }
    // this.options = _res;
    // console.log(this.options)
 
  },
  //vue-charts
  //  async  mounted () {
  //           const res=await gitLineOptions()
  //  let arr=[]
  //  res.series.map(item=>{
  //      arr.push({label:item.name,data:item.data,backgroundColor:'pink'})
  //  })
  //  const data=Object.assign({},{labels:res.xAxis[0].data,datasets:arr})
  //   this.chartdata=data
  // },
};
</script>
<style lang="scss">
.report {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  .el-breadcrumb {
    padding: 15px;
  }
}
</style>