<template>
  <div class="users">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>用户管理</el-breadcrumb-item>
      <el-breadcrumb-item>用户列表</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form inline>
      <el-form-item>
        <el-input type="text" v-model="keywords" @keyup.enter.native="search">
          <el-button slot="append" icon="el-icon-search" @click.native="search"></el-button>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="dialogVisible=true">添加用户</el-button>
      </el-form-item>
    </el-form>
    <el-table :data="obj.users" style="width: 100%" border  height="calc(100vh - 320px)">
      <el-table-column type="index" width="50" label="#"></el-table-column>
      <el-table-column prop="username" label="姓名" width="180"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="180"></el-table-column>
      <el-table-column prop="mobile" label="电话" width="180"></el-table-column>
      <el-table-column prop="create_time" label="创建时间" width="180">
        <template slot-scope="scope">{{scope.row.create_time|dealdata}}</template>
      </el-table-column>
      <el-table-column label="用户状态" width="180">
        <template slot-scope="scope">
          <!--插槽 scope.row 绑定每一行的数据 -->
          <el-switch
            v-model="scope.row.mg_state"
            @click.native="updateUsers(scope.row)"
            active-color="#13ce66"
            inactive-color="#ff4949"
          ></el-switch>
        </template>
      </el-table-column>
      <el-table-column label="编辑" width="180">
        <template slot-scope="scope">
          <el-button
            type="primary"
            icon="el-icon-edit"
            circle
            @click.native="showUserMsg(scope.row)"
          ></el-button>
          <el-button
            type="success"
            icon="el-icon-check"
            circle
            @click="handeldistribute(scope.row)"
          ></el-button>
          <el-button
            type="danger"
            icon="el-icon-delete"
            circle
            @click.native="removeDelete(scope.row.id)"
          ></el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="ruleForm.pagenum"
      :page-sizes="[2,4,6,8]"
      :page-size="ruleForm.pagesize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="obj.total"
    ></el-pagination>
    <el-dialog title="新增用户" :visible.sync="dialogVisible" width="600px">
      <!-- rules 验证  ref提交的时候校验-->
      <el-form :model="userform" :rules="userFormPules" ref="userform" label-width="120px">
        <el-form-item label="用户名" prop="username">
          <el-input v-model="userform.username"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
          <el-input v-model="userform.password"></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="userform.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="userform.email"></el-input>
        </el-form-item>
        <!-- <el-form-item label="创建时间" prop="create_time">
          <el-input v-model="userform.create_time"></el-input>
        </el-form-item>-->
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="handelAdd">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="编辑用户" :visible.sync="edialogVisible" width="600px">
      <el-form :model="edituserform" ref="edituserform" label-width="120px">
        <el-form-item label="用户名">
          <el-input v-model="edituserform.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="电话" prop="mobile">
          <el-input v-model="edituserform.mobile"></el-input>
        </el-form-item>
        <el-form-item label="邮箱" prop="email">
          <el-input v-model="edituserform.email"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancel">取 消</el-button>
        <el-button type="primary" @click="editUsers">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog title="分配角色" :visible.sync="distributeVisible" width="600px">
      <el-form :model="distributeuserform" ref="distributeuserform" label-width="120px">
        <el-form-item label="用户名">
          <el-input v-model="distributeuserform.username" disabled></el-input>
        </el-form-item>
        <el-form-item label="角色">
          <el-select v-model="distributeuserform.rid" placeholder="请选择">
            <el-option :value="-1" label="请选择"></el-option>
            <el-option
              v-for="item in options"
              :key="item.id"
              :label="item.roleName"
              :value="item.id"
            ></el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="distributeVisible = false">取 消</el-button>
        <el-button type="primary" @click="handelrole">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<style lang="scss" scoped>
.users {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  .el-breadcrumb {
    padding: 15px;
  }
  .el-form {
    margin-top: 15px;
  }
  .el-pagination {
    margin-top: 15px;
  }
}
</style>
<script>
import {
  getUsers,
  addUsers,
  updateUsers,
  editUsers,
  deleteUsers,
  getUsersInfo,
  getRolesList,
  distribultRole
} from "../http/apis";

export default {
  data() {
    return {
      obj: [],
      options: [],
      keywords: "",
      value: true,
      dialogVisible: false, //弹框是否显示
      edialogVisible: false,
      distributeVisible: false,
      ruleForm: {
        query: "",
        pagenum: 1,
        pagesize: 6
      },
      //用户、新增
      userform: {
        username: "",
        password: "",
        mobile: "",
        email: ""
      },
      //编辑
      edituserform: {
        username: "",
        mobile: "",
        email: "",
        id: ""
      },
      //角色
      distributeuserform: {
        username: "",
        id: "",
        rid: ""
      },
      userFormPules: {
        username:[
           {
          required: true, //*号
          message: "请输入用户名"
        },
        ],
        password: [
          {
          required: true, //*号
          message: "请输入密码"
         }
        ]
      },

      tableData: []
    };
  },
  methods: {
    handleSizeChange(val) {
      this.ruleForm.pagesize = val;
      this.getUsers();
    },
    handleCurrentChange(val) {
      this.ruleForm.pagenum = val;
      this.getUsers();
    },
    //获取用户列表
    async getUsers() {
      const res = await getUsers(this.ruleForm);
      console.log(res);
      this.obj = res;
    },
    //获取添加用户
    async addUsers() {
      return await addUsers(this.userform);
    },
    //获取用户状态
    async updateUsers(scope) {
      await updateUsers(scope.id, scope.mg_state);
      this.getUsers();
    },
    //获取编辑用户确认提交
    async editUsers() {
      await editUsers(this.edituserform);
      this.edialogVisible = false;
      this.getUsers();
    },
    //获取删除
    async deleteUsers(id) {
      await deleteUsers(id);
      this.getUsers();
    },
    //获取查讯用户信息
    async getUsersInfo() {
      const { rid } = await getUsersInfo(this.distributeuserform.id);
      this.distributeuserform = Object.assign(this.distributeuserform, {
        rid
      });
    },
    //获取角色列表
    async getRolesList() {
      const data = await getRolesList();
      this.options = data;
    },
    //获取分配角色
    async distribultRole() {
      const { id, rid } = this.distributeuserform;
      await distribultRole(id, rid);
      this.getUsers()
    },
    //搜索
    search() {
      this.ruleForm.query = this.keywords;
      this.ruleForm.pagenum=1
      this.getUsers();
    },
    //添加用户
    handelAdd() {
      this.$refs.userform.validate(async valid => {
        if (valid) {
          await this.addUsers(this.userform);
          this.dialogVisible = false;
          this.ruleForm = Object.assign(this.ruleForm, {
            query: "",
            pagenum: 1,
            pagesize: 2
          });
          this.$refs.userform.resetFields()
          this.getUsers(); //从新更新列表
        } else {
          return false;
        }
      });
    },
    //编辑用户信息按钮操作
    showUserMsg(obj) {
      console.log(obj);
      this.edialogVisible = true;
      const { username, mobile, email, id } = obj;
      this.edituserform = Object.assign(this.edituserform, {
        username,
        mobile,
        email,
        id
      });
    },

    //删除用户操作
    async removeDelete(id) {
      try {
        await this.$confirm("是否永久删除该用户", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        });
        this.deleteUsers(id);
      } catch {
        this.$message({
          type: "info",
          message: "已取消删除"
        });
      }
    },
    //查询用户信息
    handeldistribute(obj) {
      this.getRolesList();
      this.distributeVisible = true;
      const { username, id } = obj;
      this.distributeuserform = Object.assign(this.distributeuserform, {
        username,
        id
      });
      this.getUsersInfo();
    },
    //确定分配角色
    handelrole() {
      this.distribultRole()
      this.distributeVisible = false;
    },
    cancel(){
      this.edialogVisible=false
    }
  },
  created() {
    console.log('34')
    this.getUsers();
  }
};
</script>