<template>
    <div class="bread">
         <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item>{{parent}}</el-breadcrumb-item>
      <el-breadcrumb-item>{{children}}</el-breadcrumb-item>
    </el-breadcrumb>
    </div>
</template><script>
export default {
    props:['parent','children']
}
</script>